@model Absence.Models.Admin

@{

    ViewData["Title"] = "Admin Dashboard";
}

<header id="header" class="fixed-top" style="margin: 0px;">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="container d-flex align-items-center justify-content-between">
            <img src="~/images/logo_transparent6.png" width="120" height="120" class="d-inline-block align-top" alt="">
    </a>


    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">

        <a class="getstarted scrollto" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
        @* <li><a class="nav-link scrollto" asp-area="" asp-controller="User" asp-action="Logout">Logout</a></li> *@

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

@* <div class="row mt-4">
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les absences</h5>
    <p class="card-text">Liste d’absence des étudiants par filière</p>
    <a asp-controller="Admin" asp-action="ListeAbsenceFiliere" class="btn btn-info">Start</a>
    </div>
    </div>
    </div>


    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les absences</h5>
    <p class="card-text">Ajouter une absence d’un étudiant</p>
    <a asp-controller="Prof" asp-action="AjouterAbsence" class="btn btn-primary">Start</a>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les absences</h5>
    <p class="card-text">Supprimer absence</p>
    <a asp-controller="Prof" asp-action="DeleteAbsence" class="btn btn-warning">Start</a>
    </div>
    </div>
    </div>


    </div>


    <div class="row mt-4">

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gestion du compte</h5>
    <p class="card-text">créer un nouveau compte</p>
    <a href="#" class="btn btn-secondary">Start</a>
    </div>
    </div>
    </div>


    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gestion du compte</h5>
    <p class="card-text">modification du compte</p>
    <a href="#" class="btn btn-info">Start</a>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gestion du compte</h5>
    <p class="card-text">consultation du compte</p>
    <a href="#" class="btn btn-secondary">Start</a>
    </div>
    </div>
    </div>





    </div>


    <div class="row mt-4">

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les absences</h5>
    <p class="card-text">exporter liste d’absence</p>
    <a asp-controller="Prof" asp-action="ExportAbsences" class="btn btn-success">Start</a>
    </div>
    </div>
    </div>


    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les absences</h5>
    <p class="card-text">modifier absence d’un étudiant</p>
    <a asp-controller="Prof" asp-action="EditeAbsence" class="btn btn-danger">Start</a>
    </div>
    </div>
    </div>

    </div>

    <div class="row mt-4">


    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les étudiants par filière</h5>
    <p class="card-text">ajoute Etudiant à une liste</p>
    <a asp-controller="Prof" asp-action="AddStudentListe" class="btn btn-warning">Start</a>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les étudiants par filière</h5>
    <p class="card-text">import liste étudiant</p>
    <a asp-controller="Prof" asp-action="ImportListeStudent" class="btn btn-danger">Start</a>
    </div>
    </div>
    </div>


    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les étudiants par filière</h5>
    <p class="card-text">export liste étudiant</p>
    <a asp-controller="Prof" asp-action="ExcelStudents" class="btn btn-primary">Start</a>
    </div>
    </div>
    </div>





    </div>


    <div class="row mt-4">

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
    <p class="card-text">Justifier absence</p>
    <a href="#" class="btn btn-secondary">Start</a>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
    <p class="card-text">consulter les absences</p>
    <a href="#" class="btn btn-info">Start</a>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
    <p class="card-text">import un certificat médical</p>
    <a href="#" class="btn btn-success">Start</a>
    </div>
    </div>
    </div>






    </div>



    <div class="row mt-4">

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer l’absence d’un étudiant</h5>
    <p class="card-text">notice d’absence</p>
    <a href="#" class="btn btn-primary">Start</a>
    </div>
    </div>
    </div>


    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les filières</h5>
    <p class="card-text">Ajouter une nouvelle filière</p>
    <a href="#" class="btn btn-primary">Start</a>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Gérer les filières</h5>
    <p class="card-text">Imprimer fiche d’absence d’une filière</p>
    <a href="#" class="btn btn-primary">Start</a>
    </div>
    </div>
    </div>

    </div> *@

<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>


                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">1</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les absences</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Liste d’absence des étudiants par filière</span>
                            </li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="ListeAbsenceFiliere"
                                class="btn btn-sm btn-flash-border-primary">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">2</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les absences</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Ajouter une absence d’un étudiant</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="AjouterAbsence"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">3</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les absences</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Supprimer une absence</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="DeleteAbsence"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>


                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">4</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gestion du compte</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Créer un nouveau compte</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="CreateNewAccount" class="btn btn-sm btn-flash-border-primary">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">5</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gestion du compte</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Modification du compte</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="Edit" class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">6</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gestion du compte</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Consultation du compte</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="CompteConsultation" class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>


                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">7</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les absences</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Exporter liste d'absence</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="ExportAbsences"
                                class="btn btn-sm btn-flash-border-primary">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">8</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les absences</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Modifier absence d'un étudiant</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="EditeAbsence"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">9</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les étudiants par fillière</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Ajouter étudiant à une liste</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="AddStudentListe"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>


                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">10</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les étudiants par fillière</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Importer liste des étudiants</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="ImportListeStudent" class="btn btn-sm btn-flash-border-primary">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">11</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les étudiants par fillière</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Exporter liste étudiants</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="ExcelStudents"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">12</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer l'absence d'un étudiant</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Justification d'absence</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="JustifierAbsence"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	 <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>


                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">13</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer l'absence d'un étudiant</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Consulter les absences</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="GetAbsences" class="btn btn-sm btn-flash-border-primary">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">14</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer l'absence d'un étudiant</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Importer un certificat médical</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="JustifierDocuments"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">15</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer l'absence d'un étudiant</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Avis d'absence</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="AddNotice"
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	 <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>


                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">16</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les fillières</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Ajouter une nouvelle fillière</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="Admin" asp-action="AddFiliere" class="btn btn-sm btn-flash-border-primary">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">


                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">17</span>
                                <span class="widget-49-date-month"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Gérer les fillières</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Imprimer fiche d'absence d'une fillière</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a asp-controller="" asp-action=""
                                class="btn btn-sm btn-flash-border-warning">Démarrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  
    </div>
</div>