<div class="container mt-4">
	<h1 class="mt-4">Create Accounts</h1>

	<div class="row" style="margin-top :200px;">
		<div class="col-md-4">
			<a asp-controller="Admin" asp-action="AddAdmin" class="btn btn-success">Add Admin</a>
		</div>
		<div class="col-md-4">
			<a asp-controller="Admin" asp-action="AddProf" class="btn btn-info">Add Prof</a>
		</div>
		<div class="col-md-4">
			<a asp-controller="Admin" asp-action="AddStudent" class="btn btn-primary">Add Student</a>
		</div>
	</div>
</div>