@model Absence.Models.Student

@{
    ViewData["Title"] = "Add Student To Liste";
}

<form method="post">
    <input asp-for="IdStudent" hidden />
    <div class="border p-3">
       
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Student To Liste</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="UserName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserName" class="form-control" disabled/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                </div>


                    <input asp-for="Email" hidden />
                    <input asp-for="Password" hidden />
                    <input asp-for="UserName" hidden/>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ListeId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ListeId" class="form-control" />
                        <span asp-validation-for="ListeId" class="text-danger"></span>
                    </div>

                </div>

              

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Add To Liste" />
                        </div>
                        <div class="col">
                            <a asp-action="ProfDash" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

